@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
$bordo:#613722;
$svetlija:#bb927e;
$pozadina:#fcfafa;
*{
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}
:root {
    font-size: 16px;
}
body {
  font-family: 'Poppins', sans-serif;
}
button, h1, h2, h3, h5, h6 footer{
    color: $bordo;
}
footer{
    background-color: $pozadina;
}
a{
    color: $svetlija;
    &:hover{
        color: $bordo;
    }
}
.paddinglarge{
    padding:100px 0px;
}
.padding-big{
    padding:50px 0px;
}
.paddingbig{
    padding:30px 0px;
}
.paddingsmall{
    padding:10px 0px;
}
.navbar-brand{
    padding:10px;
    img{
        width: 300px;
    }
}
.navbar-nav a{
    color:$bordo !important;
    &:hover{
        font-style: italic;
        color: $svetlija !important ;
        text-decoration:underline;
    }
}
.nav-item{
    font-weight: bold;
}

.carousel-item{
    &:img{
         height:300px !important;
    }
}
.btn-floating{
    padding: 5px;
    &:hover{
        color: #696767;
    }
}
.footer-icons:hover{
    color: #696767;
}
#about{
    color: $bordo;
}
.buttons1 .btn{
    background-color: $svetlija;
    color: $pozadina;
    &:hover{
        background-color: $bordo;
        color:$pozadina;   
    }
}

.more{
    color:$pozadina;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
button .link{
    color: #fff;
}
.picture{
    background-image: url("../img/vinoo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height:500px;
}
.text-pic{
    font-family: 'Crimson Text', serif;
}
.title-h1{
    font-size: 75px;
    transform: rotate(-14deg);
    color: $svetlija;
}
.column img{
    filter: grayscale(1) brightness(0.5);
    border-radius: 5px;
    transition: 0.3s linear;
    &:hover{
        filter: grayscale(0);
    }
}




header.masthead {
    background-color: #343a40;
    background: url("../img/slider.jpg") no-repeat center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  
  header.masthead .overlay {
    background-color: #212529;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  
  header.masthead h1 {
    font-size: 2rem;
    color:$pozadina;
  }
.button-about{
    background-color: $svetlija;
    color: $bordo;
    &:hover{
        background-color: $bordo;
        color: $svetlija;
    }
}
.features-icons-icon{
    font-size:60px;
    color: $bordo;
}
.showcase .showcase-text {
    padding: 3rem;
}
.showcase .showcase-img {
min-height: 30rem;
background-size: cover;
}
.first-pic{
    background-image: url("../img/winejards.jpg");
}
.second-pic{
    background-image: url("../img/krozsljivike.jpg");
}.third-pic{
    background-image: url("../img/ilivade.jpg");
}

.creators{
    background-color: $pozadina;
    .creator-item img {
    max-width: 12rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
}
}
.sign{
    color:#fff !important ;
}

@media screen and (max-width: 992px){
    .title-h1{
        transform: rotate(0deg);
        color: $bordo;
    }
    .features-icons-item{
        padding-top:0px;
        margin-top:0px;
    }
    .creators .creator-item img {
        max-width: 20rem;
    }
}
@media screen and (max-width: 768px) {
    .column img {
        filter: grayscale(0) brightness(1);
      }
      header.masthead {
        padding-top: 15px;
        padding-bottom: 15px;
      }
      header.masthead h1 {
        font-size: 10px;
      }
}
@media screen and (max-width:576px){
    .title-h1{
        margin-left:-15px;
        font-size: 65px;
    }
    .testimonials .testimonial-item img {
        max-width: 20px;
    }
    .crno{
        height: auto;
    }
}




.valign-wrapper {
    flex-wrap: wrap;
}
.crno img{
    background-color: black;
    height: 400px;
}
.roze{
    background-color: $svetlija;
    
}
nav {
    line-height: normal;
    height: auto;
    .brand-logo{
        position: relative;
        //padding:10px;
        //margin:5px;
        img{
            width: 300px;
            @media (max-width: 600px) {
                max-width: 80%;
            }
        }
    }
    .nav-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color:$bordo;
        padding: 1rem;
        width: 100%;
        ul {
            a {
                font-weight: 700;
                color: $bordo;
                &:hover {
                    background-color: transparent;
                    font-style: italic;
                    text-decoration: underline;
                    color: $svetlija;
                }
            }
        }
    }
}

.nav-bar-m{
    background-color: $pozadina;
}
#main {
    margin: 20px 0;
    justify-content: space-around;
    .col {
        margin: 0;
    }
    #text-right {
        clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%);
        padding: 80px 30px 100px 30px;
    }
}
.portfolio{
    color:$bordo;
    font-style: italic;
    text-decoration:underline;
}
.mt-30px {
    margin-top: 30px !important;
}
#mat-footer {
    .row {
        justify-content: space-between;
        .col {
            margin: 0px;
        }

    }
}




