@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

:root {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
}

button, h1, h2, h3, h5, h6 footer {
  color: #613722;
}

footer {
  background-color: #fcfafa;
}

a {
  color: #bb927e;
}

a:hover {
  color: #613722;
}

.paddinglarge {
  padding: 100px 0px;
}

.padding-big {
  padding: 50px 0px;
}

.paddingbig {
  padding: 30px 0px;
}

.paddingsmall {
  padding: 10px 0px;
}

.navbar-brand {
  padding: 10px;
}

.navbar-brand img {
  width: 300px;
}

.navbar-nav a {
  color: #613722 !important;
}

.navbar-nav a:hover {
  font-style: italic;
  color: #bb927e !important;
  text-decoration: underline;
}

.nav-item {
  font-weight: bold;
}

.carousel-item:img {
  height: 300px !important;
}

.btn-floating {
  padding: 5px;
}

.btn-floating:hover {
  color: #696767;
}

.footer-icons:hover {
  color: #696767;
}

#about {
  color: #613722;
}

.buttons1 .btn {
  background-color: #bb927e;
  color: #fcfafa;
}

.buttons1 .btn:hover {
  background-color: #613722;
  color: #fcfafa;
}

.more {
  color: #fcfafa;
  background-image: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button .link {
  color: #fff;
}

.picture {
  background-image: url("../img/vinoo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 500px;
}

.text-pic {
  font-family: 'Crimson Text', serif;
}

.title-h1 {
  font-size: 75px;
  -webkit-transform: rotate(-14deg);
          transform: rotate(-14deg);
  color: #bb927e;
}

header.masthead {
  background-color: #343a40;
  background: url("../img/slider.jpg") no-repeat center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  background-color: #212529;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
  color: #fcfafa;
}

.button-about {
  background-color: #bb927e;
  color: #613722;
}

.button-about:hover {
  background-color: #613722;
  color: #bb927e;
}

.features-icons-icon {
  font-size: 60px;
  color: #613722;
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

.first-pic {
  background-image: url("../img/winejards.jpg");
}

.second-pic {
  background-image: url("../img/krozsljivike.jpg");
}

.third-pic {
  background-image: url("../img/ilivade.jpg");
}

.creators {
  background-color: #fcfafa;
}

.creators .creator-item img {
  max-width: 12rem;
  -webkit-box-shadow: 0px 5px 5px 0px #adb5bd;
          box-shadow: 0px 5px 5px 0px #adb5bd;
}

.sign {
  color: #fff !important;
}

@media screen and (max-width: 768px) {
  .column img {
    -webkit-filter: grayscale(0) brightness(1);
            filter: grayscale(0) brightness(1);
  }
  header.masthead {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  header.masthead h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 576px) {
  .title-h1 {
    margin-left: -15px;
    font-size: 65px;
  }
  .testimonials .testimonial-item img {
    max-width: 20px;
  }
  .crno {
    height: auto;
  }
}

.valign-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.crno img {
  background-color: black;
  height: 400px;
}

.roze {
  background-color: #bb927e;
}

nav {
  line-height: normal;
  height: auto;
}

nav .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #613722;
  padding: 1rem;
  width: 100%;
}

nav .nav-wrapper .brand-logo {
  position: relative;
}

nav .nav-wrapper .brand-logo img {
  width: 300px;
}

@media (max-width: 600px) {
  nav .nav-wrapper .brand-logo img {
    max-width: 80%;
  }
}

nav .nav-wrapper ul a {
  font-weight: 700;
  color: #613722;
}

nav .nav-wrapper ul a:hover {
  background-color: transparent;
  font-style: italic;
  text-decoration: underline;
  color: #bb927e;
}

.nav-bar-m {
  background-color: #fcfafa;
}

#main {
  margin: 20px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#main .col {
  margin: 0;
}

#main #text-right {
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%);
          clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%);
  padding: 80px 30px 100px 30px;
}

.portfolio {
  color: #613722;
  font-style: italic;
  text-decoration: underline;
}

.mt-30px {
  margin-top: 30px !important;
}

#mat-footer .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#mat-footer .row .col {
  margin: 0px;
}

@media screen and (max-width: 992px) {
  .title-h1 {
    transform: rotate(0deg) !important;
    -webkit-transform: rotate(0deg) !important;
    color: #613722;
  }
  .features-icons-item {
    padding-top: 0px;
    margin-top: 0px;
  }
  .creators .creator-item img {
    max-width: 20rem;
  }
}
/*# sourceMappingURL=style.css.map */